# ===============================
# ========== SERVER ============
# ===============================
PORT=4000
NODE_ENV=dev

# ===============================
# ======== DATABASE ============
# ===============================
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME

# ===============================
# ========== BCRYPT ============
# ===============================
HASH_SALT=12

# ===============================
# ============ JWT =============
# ===============================
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRES_IN=1d

JWT_REFRESH_SECRET_KEY=your_jwt_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=365d

JWT_RESET_SECRET_KEY=your_jwt_reset_secret_key
JWT_RESET_EXPIRES_IN=10m

# ===============================
# ========== SMTP (Hostinger) ============
# ===============================
EMAIL_SENDER="Copexia <no-reply-copexia@amayadev.cloud>"
SMTP_HOST="smtp.hostinger.com"
SMTP_PORT=465
SMTP_USER="no-reply-copexia@amayadev.cloud"
SMTP_PASSWORD="password"

BACKOFFICE_BASE_URL=https://dev.copexia.amayadev.cloud/es
BACKOFFICE_RESET_PASSWORD_URL=https://dev.copexia.amayadev.cloud/es/reset-password
APP_RESET_PASSWORD_URL=com.example.app://reset-password

# ===============================
# ============ APP =============
# ===============================
APP_URL=http://localhost:4000


# ===============================
# ======= GOOGLE PLACES ========
# ===============================
GOOGLE_MAPS_API_KEY=your_google_maps_api_key

# ADMIN EMAIL
ADMIN_EMAIL=admin@example.com
